@using EntityLayer.Concrete;
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
  
}
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>
                <h1>Id</h1>
            </th>
            <th>
                <h1>Category Name</h1>
            </th>
            <th>
                <h1>Category Date</h1>
            </th>
            <th>
                <h1>
                    Category Status
                </h1>
            </th>
            <th>
                <h1>
                    Sil
                </h1>
            </th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.CategoryId
                </td>
                <td>
                    @item.CategoryName
                </td>
                <td>
                    @item.CategoryDate
                </td>
                <td>
                    @item.CategoryStatus
                </td>
                <td>
                    @using (Html.BeginForm("UpdateCategory", "Category", FormMethod.Post,item.CategoryId))
                    {
                        <button type="submit" id=@item.CategoryId name="id" value=@item.CategoryId class="btn btn-danger">Sil</button>
                    }
                </td>
                <td>
                    <a href="~/Category/UpdateCategory/@item.CategoryId" class="btn btn-success">Update</a>
                </td>
            </tr>
        }
    </table>
    <a href="~/Category/AddCategory/" class="btn btn-success">Ekle</a>
    
</div>

